.root {
	-fx-font-family: abel;
}

#innerComp{
	-fx-border-width: 3px;
	-fx-border-color: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
	-fx-background-image: url("bginner.png");
}

#loginText1 {
}

#logo {
	-fx-margin-bottom: 10px;
}

#inputusername {
	-fx-border-radius: 50px;
}

#inputpassword {
	-fx-border-radius: 50px;
}

//Main Stage Controller Design

#navigation {
	-fx-background-image: url("images/mainstagenav.png");
}

#mainstageTitle {
	-fx-font-family: abel;
	-fx-text-shadow: 2px 2px 4px #000000;
}

#bottom_outer_pane {
	-fx-background-image: url("images/bottomstagenav.png");
}

//Options Design
#inner_borderpane {
	-fx-background-image: url("images/leftsidestage.png");	
}

.optionButton {
	-fx-font-weight: bold;
	-fx-background-color: #44AD63;
	-fx-text-fill:white;
}

.optionButton:hover {
	-fx-font-weight: bold;
	-fx-background-color: #00661A;
	-fx-text-fill:white;
}
