.root {
	-fx-font-family: abel;
}

#innerComp{
	-fx-border-width: 3px;
	-fx-border-color: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
	-fx-background-image: url("bginner.png");
}

#loginText1 {
}

#logo {
	-fx-margin-bottom: 10px;
}

#inputusername {
	-fx-border-radius: 50px;
}

#inputpassword {
	-fx-border-radius: 50px;
}