.root {
	-fx-font-family: abel;
}

#innerComp{
	-fx-border-width: 3px;
	-fx-border-color: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
	-fx-background-image: url("images/bginner.png");
}

#loginText1 {
}

#logo {
	-fx-margin-bottom: 10px;
}

#inputusername {
	-fx-border-radius: 50px;
}

#inputpassword {
	-fx-border-radius: 50px;
}

/*Main Stage Controller Design*/

#navigation {
	-fx-background-image: url("images/mainstagenav.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
}

#mainstageTitle {
	-fx-font-family: abel;
	-fx-text-shadow: 2px 2px 4px #000000;
}

#bottom_outer_panecss {
	-fx-background-image: url("images/bottomstagenav.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;	
}

/*Options Design*/
#inner_borderpane {
	-fx-background-image: url("images/leftsidestage.png");	
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
}

.optionButton {
	-fx-font-weight: bold;
	-fx-background-color: #44AD63;
	-fx-text-fill:white;
}

.optionButton:hover {
	-fx-font-weight: bold;
	-fx-background-color: #00661A;
	-fx-text-fill:white;
}
